@import "./reset";
html{
  height: 100%;
}
body{padding:0; color: #000;background: #f6f6f6;width:100%; min-height:100%; margin:0 auto;}
img{

}
img,span,a,label,i{display: inline-block;vertical-align: top;font-style: normal}
h1{font-weight:normal;margin:0; padding:0;}
.fl{float: left;}
.fr{float:right;}
$bg:#f2f2f2;
$white:#fff;
$c0:#000;
$c3:#333;
$c6:#666;
$borderRadius:0.1rem;
.flex{
  display: flex;
  display: -webkit-flex;
}
@mixin opacity_bg($opa:0.8,$col:#000){
  background-color: $col;
  opacity: $opa;
  filter:alpha(opacity=$opa*100);
}
@mixin lineGradient($deg:0deg,$cS:$red,$cE:$yellow){
  background: -webkit-linear-gradient($deg, $cS, $cE); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient($deg, $cS, $cE); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient($deg, $cS, $cE); /* Firefox 3.6 - 15 */
  background: linear-gradient($deg, $cS, $cE); /* 标准的语法（必须放在最后） */
}
@mixin fontSize($fz:12px){
  @media screen and (max-width: 321px) {
    font-size:$fz;
  }
  @media screen and (min-width: 321px) and (max-width:400px) {
    font-size:$fz;
  }
  @media screen and (min-width: 400px) and(max-width:640px) {
    font-size:$fz + 2px;
  }
  @media screen and (min-width: 640px) {
    font-size:$fz + 4px;
  }
}
//- @include fontFormat($fz:12px,$fc:$c3,$ta:center);
@mixin fontFormat($fz:12px,$fc:$c0,$ta:left){
  color:$fc;
  text-align: $ta;
  @include fontSize($fz:$fz);
}

//导航
.header{
  background: #8484F5;
  display: flex;
  align-items: center;
  height: 0.48rem;
  padding: 0 0.02rem;
  .back_icon{
    padding: 0.1rem 0.18rem;
  }
  img{
    max-height: 0.2rem;
  }
  span{
    flex:1;
    padding-right: 0.5rem;
    @include fontFormat($fz: 17px,$fc:#fff,$ta:center);

  }
}
.header-purple{
  @extend .header;
}
.header-white{
  @extend .header;
  background: #f2f2f2;
  span{
    @include fontFormat($fz: 17px,$fc:#000,$ta:center);
  }


}

//省略号
.ellipsis{
  overflow : hidden;
  text-overflow: ellipsis;
 /* white-space:nowrap;*/
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ellipsis2{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
//固定底部
.fixed-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #f8f8f8;
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.16rem 0 0.1rem;
  border-top:0.01rem solid #f2f2f2;
  .col{
    text-align: center; 
    flex:1;
  }
  .foot_icon{
    height: 0.44rem;
    width: 0.44rem;
  }
  .name{
    margin-top: 0.02rem;
    @include fontFormat($fz: 12px,$fc:$c3,$ta:center);
  }
  .btn{
    flex:1;
  }
  .btn-bg-green{
    @include fontFormat($fz: 18px,$fc:#fff,$ta:center);
    line-height: 0.52rem;
    background: #01CC35;
  }
}

//省市区
.select-region{
  width: 100%;
  overflow: hidden;
  select{
    float: left;
    width: 33%;
    appearance: none;
    -webkit-appearance: none;
  }
  select:last-child{
    width: 34%;
  }
  //select {
  //  direction: rtl;
  //}
  //select option {
  //  direction: ltr;
  //}
}

//按钮
.btn-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top:0.3rem;
  .btn{
    flex:1;
  }
}
.btn-one{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding:0.7rem 0.5rem 0;
  align-items: center;
}

a.btn-bg-blue-rect{
  width: 100%;  
  background: #108ee9;
  line-height: 1rem;
  border-radius: 0.22rem;
  @include fontFormat($fz: 18px,$fc:#fff,$ta:center);
  font-weight: 400;
  letter-spacing: 0.04rem;
}
a.btn-bg-blue{ 
  width: 100%;
  background: #108ee9;
  line-height: 0.9rem;
  border-radius: 0.6rem;
  @include fontFormat($fz: 18px,$fc:#fff,$ta:center);
  font-weight: 400;
  letter-spacing: 0.04rem;
  box-shadow: 0 0.02rem 0.02rem 0.04rem rgba(16,142,233,0.24);
}
.a-link-wrap{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.4rem;
  line-height: 0.34rem;
  
}
.a-link-wrap .a-link-blue{
   @include fontFormat($fz: 13px,$fc:#108ee9,$ta:center);
   position: relative;
   padding: 0 0.1rem; 
}
.a-link-wrap .a-link-blue::after{
  content:'';
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  height:0.3rem;
  width:0.01rem;
  background:  #108ee9;
}
.a-link-wrap .a-link-blue:last-child::after{
  display: none;
  background: #fff;
}
//表单
.el-form {
  background-color: $white;
  .el-row {
    border-bottom: 0.01rem solid #DEDEDE;
    width: 100%;
    padding: 0.48rem 0 0.36rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .el-col{
      flex:1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .el-label {
      @include fontFormat($fz: 16px);
      font-weight: 400;
      width: 0.75rem;
      min-width: 0.75rem;
      line-height: 0.34rem;
    }
    .el-icon{
      width: 0.32rem;
      height: 0.36rem;
      background: red;
      margin-right: 0.22rem;
    }
    input{
      background: transparent;
      vertical-align: top;
      line-height: 0.44rem;
      height: 0.44rem;
      outline: none;
      padding:0 0.06rem;
      @include fontFormat($fz: 16px);
      display: inline-block;
      width: auto;
    }

    .input-code{
      width:3.2rem;
    } 
   .code-btn{ 
     border-radius: 0.26rem;
     padding: 0 0.2rem;
     min-width: 0.8rem;
     line-height: 0.46rem;
     height: 0.46rem;
     @include fontFormat($fz: 12px,$ta:center,$fc:#108ee9);
     border:0.01rem solid #108ee9;
   }
  }
}
.form-row{
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  background: #fff;
  label {
    @include fontFormat($fz:15px,$fc:$c3);
    line-height: 0.4rem; 
  }
  input.input-box{
    background: transparent;
    vertical-align: top;
    line-height: 0.4rem;
    height: 0.4rem;
    outline: none;
    @include fontFormat($fz:15px);
    background: #fff;
    padding: 0 0.1rem;
  }
}
//白色右箭头 小

a.arrow-r-white{
  position: relative;
  &:after{
    position: absolute;
    right: 0.28rem;
    top:0.2rem;
    content: '';
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    border-top: 0.023rem solid $white;
    border-right: 0.023rem solid $white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

// 弹层
.layer-pop{
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top:0;
  z-index: 999;
  background: rgba(0,0,0,0.4);
  .layer-box{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-65%);
    background: #fff;
    border-radius: 0.06rem;
    min-width: 2.4rem;
    max-width: 4rem;
    .layer-cont{
      padding: 0.24rem 0.34rem;
      min-height: 0.6rem;
      @extend .flex;
      align-items: center;
      justify-content: center;
    }
    p{
      @include fontFormat($fz:15px,$ta:center);
      padding: 0.025rem 0;
    }
  }
  .layer-btn{
    @extend .flex;
    justify-content:space-between;
    border-top:0.01rem solid #ddd;
    a{
      flex:1;
      line-height: 0.44rem;
      @include fontFormat($fz:14px,$ta:center);
      border-right:0.01rem solid #ddd;
      &:last-child{
        border:0;
      }
    }
  }
}

.link_wrap{
  a{
    width: 100%;
    font-size: 15px;
    color:#666;
    padding:0.1rem 0.2rem;
  }
}
