@import "./common/common.scss"; 

.sec-card-list{
  $cc3:#c3c3c3;
  margin-top: 0.16rem;
  .sec-row{
      background: #fff;
      padding: 0.3rem 0.35rem;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;  
      border-bottom:0.01rem solid #dedede;
      &:last-child{
        border: 0;
      }
      .img-pic{
          width: 1.44rem;
          height: 1.44rem;
      }
      .col{
          flex:1;
          padding: 0 0.2rem 0 0.4rem;
      }
      .arrow-right{
          max-width: 0.16rem;
      }
  }
  .card-num{
    @include fontFormat($fz: 15px,$fc:$cc3);
    line-height: 0.4rem;
    margin-bottom: 0.1rem;
  }
  .no-num{
    @include fontFormat($fz: 15px,$fc:$c6);
    line-height: 0.4rem;
  }
  .row{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      margin-top: 0.2rem;
      .icon{
          @include fontSize($fz: 12px);
          text-align: center;
          padding: 0 0.2rem;
          line-height: 0.4rem;
          border-width: 0.01rem;
          border-style: solid;
          border-radius: 0.52rem;
          margin-right: 0.48rem;
      }
      .icon-orange{
          color:#ff9a26;
          border-collapse: #ff9a26;
      }
      .icon-blue{
          color:#108ee9;
          border-collapse: #108ee9;
      }
  }
}
.login-sec{
    height: 100%;
    background: #fff; 
    padding: 1rem 1rem 0;
    .pic-wrap{
        margin: 0 auto;
        width:1.4rem;
        height:2rem;
        background: #108ee9;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .el-form{
        margin-top:1.5rem;
    }
    .btn-wrap{
        padding-top: 1rem;
    }
}
.my-sec{
  .btn-one {
    padding: 1.4rem 0.5rem 0;
    .btn-bg-blue-rect{
      width: 100%;
      margin-bottom: 0.4rem;
    }
  }
}
.detail1-sec{
  padding-top: 0.2rem;
  .btn-one{
    padding: 0.7rem 1rem 0;
    .btn-bg-blue{
      width: 100%;
    }
  }
}
.detail2-sec{
  .sec-card-list{
    .sec-row{
        align-items: flex-start;
    }
  }
  .set-list{
    .title{
      @include fontFormat($fz: 14px,$fc:$c6);
      padding: 0.2rem 0.36rem;
      line-height: 0.36rem
    }
    .row{
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3rem 0.36rem;
      background: #fff;
      border-bottom:0.01rem solid #dedede;
      &:last-child{
        border-bottom: 0;
      }
    }
    img.icon-img{
      height: 0.28rem;
      width:0.28rem;
    }
    .txt{
      @include fontFormat($fz: 15px,$fc:$c3);
      line-height: 0.4rem;
      flex:1;
    }
    .status{
      line-height: 0.4rem;
      @include fontFormat($fz: 15px,$fc:#999999);
    }
    
  }
  .btn-one{
    padding: 0.7rem 1rem 0;
    .btn-bg-blue{
      width: 100%;
    }
  }
}

.recharge-sec{
  .sec-cont{
    padding: 0.12rem 0.48rem;
    background: #fff;
    margin-bottom: 0.1rem;
    overflow: hidden; 
  }
  .card{
    width: 100%;
    background: #fff;
    padding: 0.16rem 0 0.48rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    border:0.04rem solid #ff843a;
    border-radius: 0.1rem;
    .trange-left-bottom{
      $pos:0.64rem;
      width:$pos;
      height: $pos - 0.2rem;
      position: absolute;
      left:0;
      bottom:0;
      z-index: 2;
      overflow: hidden;
      background: #fff;
      -webkit-transform:translate(-0.25rem,.16rem) rotate(45deg);
      border-top:0.04rem solid #ff843a;
    }
    .tips-red{
      position: absolute;
      left: 0;
      bottom: 0.08rem;
      width: 100%;
      @include fontFormat($fz: 12px,$fc:#ff2323,$ta:center);

    }
    .col{
      flex:1;
      text-align: center;
      padding: 0;
      border-right:0.04rem dashed #ff843a;
    }
    .col-r{
      border: 0;
      @extend .flex;
      justify-content: center;
      align-items: center;
    }
    .name{
      margin-top: -0.04rem;
      @include fontFormat($fz: 12px,$fc:#686868,$ta:center);
    }
    .no{
      @include fontFormat($fz: 26px,$fc:#1aa0e3,$ta:center);  
      padding: 0.06rem 0.3rem;
      font-weight: 600;
      word-break: break-all;
    }
    .icon-card{
      width: 1.96rem;
      height: 1.96rem;
    }
  }
  .tabs-list{
    padding: 0.3rem 0.5rem;
    background: #fff;
    overflow: hidden; 
    .tab-one{
      border:0.02rem solid #108ee9;
      border-radius: 0.16rem;
      padding: 0.15rem 0;
      margin-bottom: 0.3rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .price{
      @include fontFormat($fz: 18px,$fc:#108ee9,$ta:center);  
      font-weight: 400;
    }
    .time{
      @include fontFormat($fz: 13px,$fc:#108ee9,$ta:center);  
    }
    .tab-one.active{
      background: #108ee9;
      .price{
        color:#fff;
      }
      .time{
        color:#fff;
      }
    }
  }
     
  .sec-money {
    background: #fff;
    padding: 0.3rem 0.5rem;
    text-align: right;
    margin-top: 0.16rem;
    span{
      @include fontFormat($fz: 15px,$fc:$c3);  
      &.font-orange{
        @include fontFormat($fz: 18px,$fc:#ff9a26);  
      }
    }
  }
  .btn-one{
    padding: 0.4rem 0.5rem 0;
  }
}

.creditCard{
  padding-bottom: 1.2rem;
  .banner{
    width: 100%;
    margin-bottom: 0.15rem;
    img{
        width:100%;
    }
  }
  #swiperBanner{
    .swiper-pagination{
      bottom:0;
      .swiper-pagination-bullet{
        background: #f9a397;
        opacity: 1;
        &.swiper-pagination-bullet-active{
          background: #fff;
        }
      }
    }
  }
  .card-img-sec{
    padding: 0.25rem 0.19rem;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    #swiperCard{
      img{
        width: 100%;
      }
      .swiper-pagination{
        bottom:0;
        .swiper-pagination-bullet{
          width: 0.3rem;
          height: 0.08rem;
          background: #fff;
          border-radius: 0;
          transform: skewX(-45deg);
          opacity: 1;
          &.swiper-pagination-bullet-active{
            background: #4768f3;
          }
        }
      }
    }
  }
  .swiper_sec{
    padding: 0.1rem 0.1rem;
    .swiper-container{
        padding: 0.15rem 0.3rem 0.1rem 0;
    }
    .item{
      width: 2.4rem;
      box-sizing: border-box;
      padding: 0.24rem 0.16rem;
      text-align: center;
      margin-left:0.3rem;
      border-radius: 0.04rem;
      background: #fff;
      box-shadow: 0 0 0.08rem 0.04rem rgba(10,13,47,0.06);
      p{
        text-align: center;
      }
      .name{
        @include fontFormat($fz:12px,$fc:$c3,$ta:center);
      }
      .state{
        @include fontFormat($fz:10px,$fc:#999999,$ta:center);
      }
      img{
        margin-top: 0.1rem;
        width: 100%;
        border-radius: 0.04rem;
      }
    }
  }
  .bankList{
    margin-top: 0.12rem;
    background: #fff;
    padding: 0 0.15rem;
    .title{
      padding: 0.3rem 0 0.2rem 0.3rem;
      @extend .flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.01rem solid #dedede;
      .txt{
        @include fontFormat($fz: 16px,$fc:#3c3c3c);
      }
      .a_link{
        @include fontFormat($fz: 13px,$fc:#999999);
      }
    }
    .list_cont{
      @extend .flex;
      justify-content: space-between;
      flex-flow: row wrap;
      padding: 0.3rem 0 0;
      .bank_item{
        text-align: center;
        padding: 0.1rem 0 0.3rem;
        width: 33%;
        position: relative;
        &:nth-child(3n-1){
            width: 34%;
        }
        .red_bg_icon{
          position: absolute;
          left: 50%;
          margin-left:0.1rem;
          top:0;
          background: #F34250;
          padding: 0.01rem 0.05rem 0.01rem 0.06rem;
          border-radius: 0.05rem;
          border-bottom-left-radius: 0;
          @include fontFormat($fz: 8px,$fc:#fff);
        }
        .bank_icon{
          height: 1.14rem;
          width:1.14rem;
        }
        .name{
          margin-top: 0.03rem;
          @include fontFormat($fz: 13px,$fc:$c3,$ta:center);
        }
        .state{
          margin-top: 0.02rem;
          @extend .ellipsis;
          @include fontFormat($fz: 10px,$fc:#999999,$ta:center);
        }
      }
    }
  }
  .optsList{
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0.22rem 0.34rem;
    background: #fff;
    margin-top: 0.1rem;
    .col{
      text-align: center;
      position: relative;
      padding: 0.22rem 0;
      flex: 1;
      border-right:0.01rem solid #f4f4f4;
      &:last-child{
        border:0
      }
    }
    .opt_icon{
      width: 0.8rem;
      height: 0.8rem;
    }
    .name{
      margin-top: 0.04rem;
      @include fontFormat($fz: 14px,$ta:center);
    }
  }
}
.queryProgress{
  .banner{
    width: 100%;
    img{
        width: 100%;
    }
  }
  .tips_yellow{
    padding: 0.05rem;
    background: #F8E8B9;
    @include fontFormat($fz: 11px,$fc:#686868,$ta:center);
  }
  .bankList{
    background: #fff;
    @extend .flex;
    justify-content: space-between;
    flex-flow:row wrap;
    padding-bottom: 0.3rem;
    .col{
      width: 50%;
      border-bottom:0.01rem solid #f2f2f2;
      border-right: 0.01rem solid #f2f2f2;
      &:nth-child(even){
        border-right: 0;
      }
      @extend .flex;
      align-items: center;
      padding: 0.1rem 0.15rem;
    }
    .bank_icon{
      width: 0.35rem;
      height: 0.35rem;
    }
    .bank_name{
      padding-left: 0.07rem;
      @include fontFormat($fz: 14px,$fc:#686868);
    }
  }
}
.bookBank{
  padding-bottom: 1rem;
  .bank_item{
    background:#fff;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.32rem;
    border-bottom:0.01rem solid #dedede;
    &.active{
        .bank_selected{
            display: block;
        }
    }
  }
  .bank_icon{
    height: 0.72rem;
    width: 0.72rem;
  }
  .bank_name{
    flex:1;
    padding-left: 0.3rem;
    @include fontFormat($fz: 17px,$fc:$c3);
  }
  .bank_selected{
    max-width: 0.3rem;
    margin-right: 0.05rem;
    display: none;
  }
}
.book_fixed_footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  .footer_txt {
    line-height: 1rem;  
    @include fontFormat($fz: 16px,$fc:$c3);
    flex:1;
    padding-left:0.3rem;
    border-top:0.01rem solid #dedede;
  }
  .bookBtn{
    width: 2.8rem;
    height: 100%;
    background: #87c6f4; 
    text-align: center;
    font-size: 0;
    span{
      line-height: 1rem;
      @include fontFormat($fz: 18px,$fc:#fff,$ta:center);
    }
    .num{
      display: none;
    }
  }
  .bookBtn_active{
    background: #108ee9;
    span.num{
      display: inline-block;
    }
  }
}
.applyInfo{
  .title{
    padding: 0.08rem 0.15rem;
    @include fontFormat($fz:15px,$fc:#646464);
  }
  .sec_top{
    background: #393A3E;
    height: 1.81rem;
    position: relative;
    img.bg{
      height: 100%;
      width: 100%;
      display: none;
    }
    .sec_cont{
      position: absolute;
      left: 0;
      top:0;
      width:100%;
      height:100%;
      z-index: 2;
      @extend .flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .avater{
        height: 0.73rem;
        width: 0.73rem;
        border:0.06rem solid #4A4A4D;
        border-radius: 50%;
      }
      .name{
        @include fontFormat($fz: 17px,$fc:#E0E0E0,$ta:center);
        margin-top: 0.1rem;
      }
    }
  }
  .sec_form{
    .el-form{
      margin: 0 0.07rem;
      padding:0.07rem 0.2rem;
      background: #fff;
      input.input-txt{
        width: 100%;
        line-height: 0.22rem;
        height: 0.22rem;
        @include fontFormat($fz: 14px,$ta: right);

      }
      input.input-code{
        line-height: 0.22rem;
        height: 0.22rem;
        @include fontFormat($fz: 14px);
      }
      .el-label {
        @include fontFormat($fz: 14px);
        line-height: 0.22rem;
      }
      a.btn-bg-yellow{
        min-width: 0.8rem;
        padding: 0 0.1rem;
        background: #FED500;
        @include fontFormat($fz: 11px,$fc:#fff,$ta:center);
        border-radius:0.05rem;
        line-height: 0.22rem
      }

    }
  }
  .sec_agreen{
    @extend .flex;
    align-items: center;
    padding: 0.08rem 0.2rem;
    margin: 0.13rem 0.07rem 0;
    background:#fff;
    .check_wrap{
      width: 0.16rem;
      height: 0.16rem;
      border:0.01rem solid #666;
      border-radius: 0.04rem;
      position: relative;
      input[type=checkbox]{
        z-index: 2;
        position: absolute;
        left: -0.01rem;
        top:-.01rem;
        width: 0.16rem;
        height: 0.16rem;
        opacity: 0.5;
        background: transparent;
      }
      img.check_selected{
        z-index: 1;
        position: absolute;
        left: -0.01rem;
        top:-.01rem;
        width: 0.16rem;
        height: 0.16rem;
        background: transparent;
      }
    }
    .agreen_name{
      @include fontFormat($fz: 12px,$fc:#989898);
      padding-left: 0.14rem;
      word-break:break-all;
      word-wrap:break-word ;
      a.font_yellow{
        display: inline;
        @include fontFormat($fz: 12px,$fc:#F8C513);
      }
    }
  }
  .sec_tips{
    .sec_cont{
      background: #fff;
      padding: 0.1rem 0.13rem;
      p{
        @include fontFormat($fz: 12px,$fc:#989898);
        line-height: 0.2rem;
      }margin: 0 0.15rem;
    }
  }
  .btn-wrap{
    margin: 0.3rem 0.15rem;
    width: auto;
    background: #fff;
    padding: 0.07rem 0.3rem;
    .btn-bg-yellow{
      line-height: 0.35rem;
      @include fontFormat($fz: 14px,$fc:#fff,$ta:center);
    }
  }
}

.infoSec{
  border-top:0.03rem solid #f2f2f2;
  height: 100%;
  background:#fff;
  padding-top: 0.22rem;
  .sec{
    padding:0.1rem 0.32rem 0;
  }
  .sec_title{
    @include fontFormat($fz: 16px,$fc:#262626);
    padding-left: 0.04rem;
  }
  .sec_cont{
    @extend .flex;
    flex-flow: row wrap;
    padding-top: 0.2rem;
    .elem{
      background: #fff;
      width: 2.04rem;
      overflow: hidden;
      @include fontFormat($fz: 13px,$fc:#999999,$ta:center);
      margin-right: 0.36rem;
      background: #f5f5f5;
      border-radius: 0.28rem;
      margin-bottom: 0.3rem;
      line-height: 0.6rem;
      &:nth-child(3n){
        margin-right: 0;
      }
      &.active{
        background: #108ee9;
        color:#fff;
      }
      &.elem-l{
        width: 2.2rem;
      }
    }
  }
  .btn-one{
    padding:0.6rem 1rem 0;
  }
}

.error-sec{
  height: 100%;
  background: #fff;
  .img-wrap{
    width: 100%;
    text-align: center;
    padding: 1.2rem 0 0;
    img{
      vertical-align: top;
      width: 1.45rem;
      height: 1.45rem;
    }
  }
  .error-tips{
    height:1.8rem ;
    padding: 0.6rem 0 0;
    p{
      @include fontFormat($fz: 18px,$fc:$c3,$ta:center);
    }
    p.font-s{
      @include fontFormat($fz: 12px,$fc:#999999,$ta:center);
    }
    
  }
  .btn-one{
    padding: 0.7rem 1rem 0;
  }
}