extends layout/layout

block headTitle
  title 预约办卡

block content
  .bookBank#list
    .bank_item(data-id="guangda")
      img.bank_icon(src="../global/image/colorBank/guangda.png")
      .bank_name 光大银行
      img.bank_selected(src="../global/image/selected_yellow.png")
    .bank_item(data-id="huaxia")
      img.bank_icon(src="../global/image/colorBank/huaxia.png", alt="")
      .bank_name 华夏银行
      img.bank_selected(src="../global/image/selected_yellow.png")
    .bank_item(data-id="pufa")
      img.bank_icon(src="../global/image/colorBank/pufa.png", alt="")
      .bank_name 浦发银行
      img.bank_selected(src="../global/image/selected_yellow.png")
    .bank_item(data-id="zhaoshang")
      img.bank_icon(src="../global/image/colorBank/zhaoshang.png", alt="")
      .bank_name 招商银行
      img.bank_selected(src="../global/image/selected_yellow.png")
    .bank_item(data-id="xingye")
      img.bank_icon(src="../global/image/colorBank/xingye.png", alt="")
      .bank_name 兴业银行
      img.bank_selected(src="../global/image/selected_yellow.png")
    .bank_item(data-id="minsheng")
      img.bank_icon(src="../global/image/colorBank/minsheng.png", alt="")
      .bank_name 民生银行
      img.bank_selected(src="../global/image/selected_yellow.png")
    .bank_item(data-id="zhongguo")
      img.bank_icon(src="../global/image/colorBank/zhongguo.png", alt="")
      .bank_name 中国银行
      img.bank_selected(src="../global/image/selected_yellow.png")

  .book_fixed_footer
    .footer_txt 您预约的银行
    a(href="javascript:void(0);").bookBtn 
      span 确定
      span.num 
 
block footer
  script.
    $(function(){
      var sendData = {};
      $("#list").onClick('click','.bank_item',function() {
        var self = $(this);
        var selectId = self.attr('data-id');
        self.addClass('active').siblings().removeClass('active');
        const num = $("#list").find('.bank_item.active').length;
        if(selectId) {
          $(".book_fixed_footer .bookBtn").addClass('bookBtn_active');
          sendData.bank = selectId;
          $(".book_fixed_footer .bookBtn_active").find('span.num').html('（'+ num + '）');
        }
      });
      $(".book_fixed_footer").onClick('click','.bookBtn_active',function() {
        console.log(sendData);
        $.ajax({
            type: "POST",
            url: "",
            data: sendData,
            success: function (result) {

            },
            error: function () {
               layer.sure('系统有误');
            }
          });
      });

    });
