extends layout/layout

block headTitle
  title 查询

block content
    .detail2-sec
        .sec-card-list
            a.sec-row
                img.img-pic(src="../global/image/icon_yidong.png")
                .col
                    .card-num 卡号：89860 2B012 15901 53973
                    .no-num 号码：10648 0904 7350
                    .row
                        span.icon.icon-orange 关机
                        span.icon.icon-blue 正常
        .set-list
          .title 套餐信息
          .cont
            .row
              .txt 卡的状态
              .status 关机
            .row
              .txt 剩余天数
              .status
            .row
              .txt 剩余流量
              .status
            .row
              .txt 套餐余额
              .status


        .btn-one
            a(href="javascript:void(0);").btn-bg-blue#rechargeBtn 立即充值
block footer
  script.
    $(function(){
      $("#rechargeBtn").onClick('click',function() {
        $.ajax({
            type: "POST",
            url: "",
            data: {},
            success: function (result) {

            },
            error: function () {
              layer.sure('系统有误');
            }
          });
        });
    });
