extends layout/layout

block headTitle
  title 手工输入流量卡号

block content
    .detail1-sec
        .form-row
          label 卡号(ICCID):
          input.input-box#cardId(type="text" placeholder="请输入卡号(ICCID)")
        .btn-one
            a(href="javascript:void(0);").btn-bg-blue#addBtn 确认

block footer
  script.
    $(function(){

      $("#addBtn").onClick('click',function() {
        console.log(88)
        var account = $.trim($("#cardId").val());
        if(account == ''){
          layer.sure('请输入卡号(ICCID)');
          return false;
        }
        $.ajax({
            type: "POST",
            url: "",
            data: {iccid:account},
            success: function (result) {

            },
            error: function () {
              layer.sure('系统有误');
            }
          });
        });
    });
