extends layout/layout

block headTitle
  title 详情

block content
    -var headerImgSrc = '12';
    - var titleName = '详情';
    include layout/header_blue.pug
    .detail1-sec
        .form-row
          label 流量卡iccid号
          input.input-box#cardId(type="text" placeholder="输入iccid号")
        .btn-one
            a(href="javascript:void(0);").btn-bg-white-m 确认添加

block footer
  script.
    $(function(){
      
      $(".btn-bg-white-m").onClick('click',function() {
        var account = $.trim($("#cardId").val());
        if(account == ''){
          layer.sure('请填写输入iccid号');
          return false;
        }
        $.ajax({
            type: "POST",
            url: "",
            data: {iccid:account},
            success: function (result) {
              
            },
            error: function () {
              layer.sure('系统有误');
            }    
          });  
        });
    });