extends layout/layout

block headTitle
  title 充值成功

block content
    .error-sec
        .img-wrap
          img(src="../global/image/error.png", alt="")
        .error-tips 
          p 充值失败！
          p.font-s 唉呀！貌似出了点小问题
        .btn-one
            a(href="/template/index.html").btn-bg-blue 查看详情

block footer
  
