extends layout/layout

block headTitle
  title 充值成功

block content
    .error-sec
        .img-wrap
          //- img(src="../global/image/error.png", alt="")
          img(src="../global/image/ok.png", alt="")
        .error-tips 
          p 恭喜！您已充值成功
        .btn-one
            a(href="/template/index.html").btn-bg-blue 查看详情

block footer
  
