extends layout/layout

block headTitle
    title 关注公众号

block content
  .focusPublicNo
    .sec-top
      img.code-img(src="", alt="")
      p 请长按识别关注公众号
      p 再进行充值
    .footer-banner
      img(src="", alt="")
block footer
  script.
    $(function() {
     
    });
