extends layout/layout

block headTitle
  title 链接页面


block content
  .link_wrap
    a(href="template/login.html") 登陆
    a(href="template/my.html") 信用卡添加
    a(href="template/detail1.html") 填写输入iccid号

    a(href="template/detail2.html") 立即充值
    a(href="template/query.html") 进度查询
    a(href="template/recharge.html") 支付
    a(href="template/book.html") 预约办卡
    a(href="template/creditCard.html") 信用卡
    a(href="template/apply.html") 申请信息
    a(href="template/baseInfo.html") 基本资料
    a(href="template/workInfo.html") 工作信息
    a(href="template/focusPulic.html") 关注公众号

    a(href="template/error.html") 错误页面
