extends layout/layout

block headTitle
    title 登陆

block content
  .login-sec
      .pic-wrap
          img(src="../global/image/login.jpg", alt="")
      .el-form
          .el-row
              img(src="", alt="").el-icon
              .el-col
                  input.input-txt#account(type="text" placeholder="请输入手机号码")
          .el-row
              img(src="", alt="").el-icon
              .el-col
                  input.input-code#password(type="text" placeholder="请输入短信验证码")
                  a(href="javascript:void(0)").code-btn#codeBtn 获取验证码
                  a(href="javascript:void(0)" style="display:none;").code-btn#codeTimeBtn <i>120</i>秒

      .btn-wrap
          a(href="javascript:void(0);").btn.btn-bg-blue#loginBtn 登录
      .a-link-wrap
        a(href="http://").a-link-blue 账号注册> 
        a(href="http://").a-link-blue 忘记密码>

block footer
  script.
    $(function() {
      countTime.init(120);
      var phoneReg = /^1[34578]\d{9}$/;
      $(".btn-bg-blue ").onClick('click',function() {
        var account = $.trim($("#account").val());
        var password = $.trim($("#password").val());
        if(account == ''){
          layer.sure('请填写手机号');
          return false;
        }
        else if(!phoneReg.test(account)){
          layer.sure('请填写正确的手机号');
          return false;
        }
        if(password == ''){
          layer.sure('请填写验证码');
          return false;
        }
      });

      $("#loginBtn").onClick(function() {
        $.ajax({
            type: "POST",
            url: "",
            data: sendData,
            success: function (result) {

            },
            error: function () {
               layer.sure('系统有误');
            }
          });
      })
    });
