extends layout/layout

block append headTitle
  title 我的流量卡

block content
    
    .my-sec
        .sec-card-list
            a.sec-row
                img.img-pic(src="../global/image/icon_yidong.png")
                .col
                    .card-num 卡号：89860 2B012 15901 53973
                    .no-num 号码：10648 0904 7350
                    .row
                        span.icon.icon-orange 关机
                        span.icon.icon-blue 正常
                img.arrow-right(src="../global/image/arrow_right.png")
            a.sec-row
                img.img-pic(src="../global/image/icon_yidong.png")
                .col
                    .card-num 卡号：89860 2B012 15901 53973
                    .no-num 号码：10648 0904 7350
                    .row
                        span.icon.icon-orange 关机
                        span.icon.icon-blue 正常
                img.arrow-right(src="../global/image/arrow_right.png")
        .btn-one
            a(href="javascript:void(0);").btn-bg-blue-rect 扫码充值
            a(href="javascript:void(0);").btn-bg-blue-rect 手工输入充值
