extends layout/layout

block headTitle
  title 进度查询

block content
  - var titleName = '进度查询';
  include layout/header_white.pug
  .queryProgress
    .banner
      img(src="../global/image/banner_query.png", alt="")
    .tips_yellow 建议申请资料提交后7个工作日查询
    .bankList
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/guangfa.png", alt="")
        .bank_name 广发银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/guangda.png", alt="")
        .bank_name 光大银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/zhongxin.png", alt="")
        .bank_name 中信银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/pufa.png", alt="")
        .bank_name 浦发银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/pingan.png", alt="")
        .bank_name 平安银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/zheshang.png", alt="")
        .bank_name 浙商银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/guangzhou.png", alt="")
        .bank_name 广州银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/huaxia.png", alt="")
        .bank_name 华夏银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/zhaoshang.png", alt="")
        .bank_name 招商银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/jianshe.png", alt="")
        .bank_name 建设银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/nongye.png", alt="")
        .bank_name 农业银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/xingye.png", alt="")
        .bank_name 兴业银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/beijing.png", alt="")
        .bank_name 北京银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/jiaotong.png", alt="")
        .bank_name 交通银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/shanghai.png", alt="")
        .bank_name 上海银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/zhada.png", alt="")
        .bank_name 渣打银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="../global/image/bank/minsheng.png", alt="")
        .bank_name 民生银行



