extends layout/layout

block headTitle
  title

block content
  - var titleName = '进度查询';
  include layout/header_white.pug
  .queryProgress
    .banner
      img(src="", alt="")
    .tips_yellow 建议申请资料提交后7个工作日查询
    .bankList
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 广发银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 光大银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 中信银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 浦发银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 平安银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 浙商银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 广州银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 华夏银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 招商银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 建设银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 农业银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 兴业银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 北京银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 交通银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 上海银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 渣打银行
      a(href="javascript:void(0);").col
        img.bank_icon(src="", alt="")
        .bank_name 民生银行



